<header>
  <nav>
    <ul>
      <li>
        <a href="/" class="<%= active === 'home' ? 'active' : '' %>">Go to Home</a>
      </li>
      <li>
        <a href="/host/add-home" class="<%= active === 'add' ? 'active' : '' %>">Add Home</a>
      </li>
    </ul>
  </nav>
</header>
