<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head") %>
<body>
  <%- include("../partials/nav") %>
  <main class="centered-message">
    <h1>Create your first wishlist</h1>
    <p>As you search, click the heart icon to save your favorite places.</p>
  </main>
</body>
</html>